.site-footer {
	background: #fff;
	margin-top: 75px;
	
	&.footer-active-sidebar {
		border-top: 1px solid $color__background-hr-dark;
	}

	.page-layout-no-footer-margin & {
		margin-top: 0;
	}	
	
	.widgets {
		@include clearfix;
		padding: 50px 0;
		width: 100%; 

		@for $i from 1 through 10 {
			$margin: ($i - 1) * 2.75;
			&.widgets-#{$i} .widget {
				width: (100% - $margin) / $i;
			}
		}

		.widget {
			box-sizing: content-box;
			margin: 0 2.75% 0 0;
			float: left;

			&:last-of-type {
				margin-right: 0;
			}

			@media (max-width: 768px) {
				float: none;
				width: 100% !important;
			}
		}
	}

	.site-info {
		float: left;
		font-size: 13px; 
		text-align: left;
		width: 30%;
		
		@media (max-width: 768px) {
			float: none;
			text-align: center;
			width: 100%;
		} 		

		a {
			color: inherit;
			text-decoration: none;

			&:hover {
				color: $color__accent;
			}
		}
	}

	.bottom-bar {
		border-top: 1px solid $color__background-hr-dark;
		overflow: auto;
		padding: 25px 0;

		div:only-of-type {
			float: none;
			text-align: center;
			width: 1190px; // 1140px container.
		}	

		@at-root .responsive & div:only-of-type {
			width: 100%; 
		}	
	}
}
