.site-header {
	background: #fff;
	border-bottom: 1px solid $color__background-hr-dark;
	margin-bottom: 60px;
	padding: 25px 0;
	position: relative;
	width: 100%;
	z-index: 9999;
	
	body[class*="overlap-"] &:not(.stuck) {
		background: transparent;
		border: none;
		position: absolute;
	}	
	
	.no-header-margin & {
		margin-bottom: 0;
	}

	@at-root {

		.topbar-out & {
			@include clearfix;
			top: 0;
			left: 0;
			width: 100%;
		}

		.topbar-out.admin-bar & {
			top: 32px;

			@media (max-width: 782px) {
				top: 46px;
			}
		}		
	}
	
	@media (max-width: 600px) {

		@at-root .admin-bar .site-header.sticky.stuck {
			top: 0;
		}						
	}			 

	// A class added after scroll.
	&.stuck {
    	box-shadow: 0 1px 1px rgba(0, 0, 0, .075);	
    }

	.site-header-inner {
		-ms-flex-align: center;
		-webkit-align-items: center;
		-webkit-box-align: center;
	    align-items: center;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		width: 100%;
		
		@at-root .centered#{&} {
			flex-direction: column;
		}
	}
	
	.site-branding {
		padding-right: 20px;

		.site-title {
			font-family: $font__headings;
			font-weight: 600;
			font-size: 29px;
			line-height: normal;
			margin: 0;
			
			a {
				color: $color__text-dark;					
			}			
		}

		img {
			display: inline-block;
			vertical-align: middle;
			
			@at-root .tagline#{&} {
				padding-bottom: 5px;
			}	
		}

		.site-description {
			color: $color__text-medium; 
			font-family: $font__headings;
			font-weight: normal; 
			font-size: 13px; 
			line-height: normal;
			margin: 0; 
		}	

		> * {
			transform-origin: left center;

			@at-root .centered#{&} {
				transform-origin: center center;
			}
		}		
	}

	#header-search {
		background: #fff;
		display: none;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 99999;
		
		body[class*="overlap-"] & {
			background: transparent;
		}			
		
		.polestar-container {
			height: 100%; 
		}		

		form {
			background: #fff;
			height: 48px;
			left: 20px;
			position: absolute;
			right: 59px;
			top: 50%;
		}

		input[type="search"] {
			background: rgba(0, 0, 0, .035);
			border: 0;
			box-sizing: border-box;
			height: 48px; 
			padding: 0 15px;
			right: 15px;
			width: 100%;
			
			&:-webkit-autofill {
		    	-webkit-box-shadow: 0 0 0 50px #f6f6f6 inset !important;
			}				
		}

		button[type="submit"] {
			display: none;
		}

		#close-search {
			cursor: pointer;
			margin-top: -12px;
			position: absolute;
			right: 20px;
			top: 50%;
  			transform: scale(0, 0);
  			transition: .35s;  			

			svg {
				height: 24px;
				width: 24px;

				body[class*="overlap-"] & {
					background: #fff;
					border-radius: 50%;				
				}						

				path {
					transition: .3s;
					fill: $color__text-dark;						
				}

				&:hover {

					path {
						fill: $color__text-medium;							
					}
				}					
			}

			&.animate-in {
				transform: scale(1, 1);
			}		
		}
	}

	&.centered {

		.site-branding {
			margin: 0 auto 20px auto;
			padding: 0;
			text-align: center;
		}

		.main-navigation {
			text-align: center;
		}
	}

	@media (max-width: 768px) {

		&:not(.mobile-menu) {

			.site-header-inner {
				flex-direction: column;
			}

			.site-branding {
				margin: 0 auto 20px auto;
				padding: 0;
				text-align: center;
			}

			.main-navigation {
				text-align: center;
			}
		}		
	}

	.widgets {
		-ms-flex-align: center;
		-webkit-align-items: center;
		-webkit-box-align: center;
	    align-items: center;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		width: 100%;
		
		@media (max-width: 768px) {
			flex-direction: column;
		}		

		@for $i from 1 through 10 {
			$margin: ($i - 1) * 2.75;
			&.widgets-#{$i} .widget {
				width: (100% - $margin) / $i;
			}
		}

		.widget {
			box-sizing: content-box;
			margin: 0 2.75% 0 0;

			&:last-of-type {
				margin-right: 0;
			}

			@media (max-width: 768px) {
				margin-bottom: 5%;
				text-align: center;
				width: 100% !important;
				
				&:last-of-type {
					margin-bottom: 0;
				}
			}

			.widget-title {
				font-size: 16px;
				margin: 0 0 5px;
				
				// Set the font size of elements below the widget title to 14px.
				~ * {
					font-size: 14px;
				}						
			}

			.textwidget {
				font-size: 14px; 
			}

			p:only-of-type,
			p:last-of-type {
				margin-bottom: 0;
			}

			ul {
				margin-bottom: 0; 
			}

			input[type="search"] {
				font-size: 14px; 
			}
		}
	}	
}

// Overlap.
.overlap-light .site-header:not(.stuck) .site-branding {
	
	.site-title a,
	.site-description {
		color: #fff;
	}
}

.overlap-dark .site-header:not(.stuck) .site-branding {

	.site-title a,
	.site-description {
		color: #2d2d2d;
	}
}

// Sticky header sentinel.
.masthead-sentinel {
	margin-bottom: 60px;
	
	body[class*="overlap-"] & {
		display: none;
	}	
	
	.no-header-margin & {
		margin-bottom: 0;
	}
}

#topbar {
	position: relative;
	width: 100%;
	z-index: 1000;
}
