h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	clear: both;
	color: $color__text-dark;
	font-family: $font__headings;
	@include font-smoothing(subpixel-antialiased);
	font-weight: 600;
	margin: 25px 0;
}

h1 {
	font-size: 29px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 23px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

.underline {
	border-bottom: 2px solid $color__background-hr-dark;
	display: inline-block;
	margin: 0 0 20px;
	padding-bottom: 3px;
	text-transform: uppercase;
}
