table {
	border: 1px solid $color__background-hr;
	margin: 0 0 26px;
	text-align: left;
	width: 100%;

	a {
		text-decoration: none;
	}

	thead th {
		padding: 16px;

		@media (max-width: 768px) {
			padding: 2%;
		}
	}

	th,
	td {
		border: 1px solid $color__background-hr; 
		padding: 8px 16px;
		
		@media (max-width: 768px) {
			padding: 2%;
		}
	}

	th {
		color: $color__text-dark;
		font-weight: 600;
		text-transform: uppercase;
	}
}
