table {
	border: 1px solid $color__background-hr-dark;
	margin: 0 0 27px;
	width: 100%;
	
	a {
		text-decoration: none;
	}

	thead th {
		padding: 16px;
		text-transform: uppercase;
	}		

	th {
		color: $color__text-dark;
		font-weight: 600; 
	}

	th,
	td {
		border: 1px solid $color__background-hr;  
		padding: 8px 16px;
		
		@media (max-width: 768px) {
			padding: 2%;
		}		
	}
}
