// Background colors.
$color__background-body: #fff;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

// Border colors.
$color__background-hr: #f6f6f6;
$color__background-hr-dark: #ebebeb;

// Accent color.
$color__accent: #4d8ffb;

// Text colors.
$color__text-light: #828282;
$color__text-medium: #626262;
$color__text-dark: #2d2d2d;

// Notifications.
$error: rgba(255, 0, 0, .7);
$success: rgba(0, 128, 0, .7);
$info: rgba(0, 0, 128, .7);
