.burst-animation-overlay {
	bottom: 0;
	left: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;	
	overflow: hidden;
	z-index: 2;
	
	.burst-circle {
		background: #000;
		border-radius: 10px;
		height: 2px;
		opacity: 0.1;
		position: absolute;
		width: 2px;
	}
}

.#{fa}-spin {
	-webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

@-webkit-keyframes fa-spin {
	0% {
    	-webkit-transform: rotate(0deg);
        transform: rotate(0deg);
  }

  	100% {
    	-webkit-transform: rotate(359deg);
        transform: rotate(359deg);
  	}
}

@keyframes fa-spin {

	0% {
    	-webkit-transform: rotate(0deg);
        transform: rotate(0deg);
  	}
  
  	100% {
    	-webkit-transform: rotate(359deg);
        transform: rotate(359deg);
  	}
}
