/*--------------------------------------------------------------
## - Infinite Scroll
--------------------------------------------------------------*/
// Globally hidden elements when Infinite Scroll is supported and in use.
.infinite-scroll .posts-navigation, // Older / Newer posts navigation (always hidden).
.infinite-scroll .pagination, // Pagination navigation (always hidden).
.infinite-scroll .woocommerce-pagination, // WooCommercep pagination navigation (always hidden).
.infinite-scroll.neverending .site-footer { // Theme footer (when set to scrolling).
	display: none;
}

// When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before.
.infinity-end.neverending .site-footer {
	display: block;
}

#infinite-handle {
	text-align: center;
	
	span {
		background: none;
		display: block;
		padding: 0;
		
		button {
			@extend .button;

			&:hover {
				@extend .button;
			}
		}
	}
}

.infinite-loader .spinner {
	margin: 0 auto;
}

/*--------------------------------------------------------------
## - Sharing
--------------------------------------------------------------*/
.site-content #primary .sharedaddy {
	margin-bottom: 50px; 

	h3 {
		@extend .underline;
		font-size: 16px;
		font-weight: 400;
		line-height: $font__line-height-body; 
		margin-bottom: 15px;
		
		&:before {
			content: none;
		}
	}
}
