/*--------------------------------------------------------------
## - Infinite Scroll
--------------------------------------------------------------*/
// Globally hidden elements when Infinite Scroll is supported and in use.
.infinite-scroll .posts-navigation, // Older / Newer posts navigation (always hidden).
.infinite-scroll .pagination, // Pagination navigation (always hidden).
.infinite-scroll .woocommerce-pagination, // WooCommercep pagination navigation (always hidden).
.infinite-scroll.neverending .site-footer { // Theme footer (when set to scrolling).
	display: none;
}

// When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before.
.infinity-end.neverending .site-footer {
	display: block;
}

#infinite-handle {
	clear: both;
	text-align: center;
	width: 100%;

	span {
		background: none;
		display: block;
		padding: 0;

		button {
			@extend .button;
			font-size: 1em; 

			&:hover {
				line-height: normal;
				padding: 11px 25px;
			}
		}
	}
}

.infinite-scroll .infinite-loader {
	display: block;
	clear: both;
	width: 100%;

	.spinner {
		margin: 0 auto;
	}
}

/*--------------------------------------------------------------
## - Related Posts
--------------------------------------------------------------*/
#main #jp-relatedposts {
	margin-top: 0;
	padding-top: 0;

	.jp-relatedposts-items-visual .jp-relatedposts-post img.jp-relatedposts-post-img {
		margin-bottom: 10px;
	}

	h4.jp-relatedposts-post-title {
		font-size: 16px;

		a {
			color: #2d2d2d;
			font-family: Montserrat,sans-serif;
			font-weight: 400;
			line-height: normal;
			margin: 0 0 3px;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

/*--------------------------------------------------------------
## - Sharing
--------------------------------------------------------------*/
.site-content #primary .sharedaddy {
	margin-bottom: 50px;

	h3 {
		@extend .underline;
		font-size: 16px;
		font-weight: 600;
		line-height: $font__line-height-body;
		margin-bottom: 15px;

		&:before {
			content: none;
		}
	}

	ul {
		margin-bottom: 0 !important;
	}
}
