.woocommerce-cart {

	.entry-content {
		padding: 0;
	}

	.cart-empty {
		margin-bottom: 26px;
	}

	table.cart {
		border: none;
		margin: 0;
		text-align: left;

		thead {
			background: $color__background-element;
			border: 1px solid $color__background-hr;

			@media (max-width: 768px) {
				display: none;
			}

			th {
				font-size: 14px;
			}
		}

		th,
		td {
			border: none;
			padding: 16px;

			@media (max-width: 768px) {
				display: block;
				text-align: right;
			}
		}

		.cart_item {
			border: 1px solid $color__background-hr;

			@media (max-width: 768px) {

				td:before {
					content: attr(data-title) ": ";
					font-weight: 700;
					float: left;
				}

				td:first-of-type {
					padding-top: 30px;
				}

				td:last-of-type {
					padding-bottom: 30px;
				}
			}

			a {
				color: $color__text-medium;
				display: block;
				font-weight: 600;
				line-height: 1;

				&:hover {
					color: $color__text-light;
				}
			}

			.product-remove {
				font-size: 20px;
				text-align: center;

				&:before {
					content: none;
				}

				@media (max-width: 768px) {
					text-align: left;
				}
			}

			.product-thumbnail {

				img {
					width: 80px;
				}

				&:before {
					content: none;
				}
			}

			.product-quantity {

				input {
					font-size: 14px;
					width: 60px;
				}
			}
		}

		tbody tr {
			border-bottom: none;
		}

		td.actions {
			padding: 30px 0 0;
			text-align: right;

			@media (max-width: 768px) {
				display: block;

				* {
					width: 100%;
				}
			}

			.coupon {
				float: left;

				@media (max-width: 768px) {
					float: none;
					margin-bottom: 5px;
				}

				label {

					@media (max-width: 768px) {
						display: none;
					}
				}

				input {
					margin-right: 5px;

					@media (max-width: 768px) {
						margin-bottom: 10px;
					}
				}
			}
		}
	}

	.cart-collaterals {
		width: 100%;
	}

	.cross-sells {
		float: left;
		margin: 60px 0 -50px;
		padding-right: 5%;
		width: 50%;

		@media (max-width: 768px) {
			padding-right: 0;
			width: 100%;
		}

		h2 {
			font-size: 23px;
			margin-top: 0;
		}

		.product {
			margin-bottom: 25px;
			width: 48.25%;

			@media (min-width: 769px) {

				&:nth-of-type(2n+2) {
					margin-right: 0;
				}

				&:nth-child(2n+3) {
					clear: left;
				}
			}

			@media (max-width: 768px) {
				width: 48.25%;

				&:nth-of-type(2n+2) {
					margin-right: 0;
				}
			}

			@media (max-width: 480px) {
				width: 100%;
			}
		}
	}

	.cart_totals {
		float: right;
		margin-top: 60px;
		text-align: left;
		width: 50%;
		
		@media (max-width: 768px) {
			width: 100%;
		}

		h2 {
			font-size: 23px;
			margin-top: 0;

			@media (max-width: 768px) {
				font-size: 23px;
			}

			@media (max-width: 480px) {
				font-size: 20px;
			}
		}

		table {
			border: none;
			margin-bottom: 30px;

			tr {
				border-bottom: 1px solid $color__background-hr;
			}

			th,
			td {
				border: none;
				padding: 8px 0;
			}

			td {
				text-align: right;

				ul {
					list-style: none;
					margin: 0 0 8px;

					li {
						margin-bottom: 4px;

						&:last-of-type {
							margin-bottom: 0;
						}
					}

					input {	
						margin-right: 6px;
					}
				}

				.woocommerce-shipping-destination {
					margin-bottom: 8px
 				}

 				form .selection {
 					text-align: left;
 				}
			}
		}

		.shipping-calculator-form {
			margin: 6px 0;
		}

		.checkout-button {
			float: right;
			font-size: 16px;

			@media (max-width: 768px) {
				display: block;
				float: none;
				text-align: center;
				width: 100%;
			}
		}
	}
}

// Mini cart.
.site-header {

	.shopping-cart {
		display: inline-block;
		margin: 0 20px -10px 30px;
		padding: 0 0 10px;
	}

	.shopping-cart-text {
		display: none;
	}

	.shopping-cart-link {
		display: inline-block;
		font-family: $font__headings;
		position: relative;

		svg {
			display: inline-block;
			position: relative;
			height: 18.75px;
			vertical-align: text-bottom;
			width: 20px;

			@at-root .overlap-light .site-header:not(.stuck) :not(#mobile-navigation) .shopping-cart-link svg {
				fill: #fff;
			}

			@at-root .overlap-dark .site-header:not(.stuck) .shopping-cart-link svg {
				fill: #2d2d2d;
			}
		}

		.shopping-cart-count {
			background: $color__accent;
			border-radius: 50%;
			color: #fff;
			font-size: 9px;
			height: 18px;
			line-height: 18px;
			min-width: 18px;
			position: absolute;
			right: -18px;
			transition: .3s;
			text-align: center;
			top: -9px;
		}

		&:hover {

			svg {
				fill: $color__text-medium;

				.overlap-light .site-header:not(.stuck) & {
					fill: rgba(255, 255, 255, .8);
				}

				.overlap-dark .site-header:not(.stuck) & {
					fill: rgba(45, 45, 45, .8);
				}
			}

			.shopping-cart-count {
				background: rgba(77, 143, 251, .8);
			}

			.shopping-cart-text {
				color: $color__text-medium;
			}
		}
	}

	.shopping-cart-dropdown {
		background: #fff;
		border: 1px solid $color__background-hr;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .075);
		opacity: 0;
		position: absolute;
		right: 0;
		text-align: left;
		top: 100%;
		transform: scale(0.95);
		transition: all 0.15s ease-in;
		transform-origin: center top;
		visibility: hidden;
		width: 303px;
		z-index: 99999;

		* {
			font-family: $font__main;
		}

		.widget {
			margin: 25px;
			max-height: 70vh;
			overflow-y: auto;

			li {
				overflow: initial;
			}

			.blockOverlay[style] {
				background-color: #fff !important;
			}

			.woocommerce-mini-cart__empty-message {
				display: block;
				font-size: .95em;
				font-weight: 600;
				padding-bottom: 0;
			}
		}
	}
}

// Mobile menu mini cart.
#mobile-navigation {

	.shopping-cart-text {
		color: $color__text-dark;
		display: inline-block;
		font-size: 14px;
		font-weight: 600;
		margin-left: 5px;
	}

	.shopping-cart-link {
		margin-bottom: 15px;

		svg {
			margin: -3px 0 0;
			padding: 0;
			vertical-align: middle;
		}

		.shopping-cart-count {
			top: 2px;
			right: -25px;
		}

		&:hover {

			.shopping-cart-text {
				color: $color__text-medium;
			}
		}
	}
}
