.woocommerce-checkout .entry-content {
	padding: 0; 
}

.woocommerce {

	.checkout_coupon {

		.form-row-first,
		.form-row-last {
			float: left;
			padding-right: 5px; 
			width: 25%;
			
			@media (max-width: 768px) {
				width: 50%;
			}
		}

		.form-row-last {
			width: 60%;
			
			@media (max-width: 768px) {
				width: 50%;
			}			
		}		
		
	}

	// Order review.
	#order_review_heading,
	#order_review {
		clear: right; 
		float: right;
		width: 47.8260869565%;
		
		@media (max-width: 768px) {
			clear: none;
			float: none;
			width: 100%; 
		}
	}

	table.woocommerce-checkout-review-order-table {
		
		thead {
			border: 1px solid $color__background-hr-dark;		
			
			th {
				background: $color__background-hr;
				font-size: 14px;
			}		
		}
		
		
		th,
		td {
			border: none;
			padding: 20px;
			text-align: left;
			
			ul {
				font-size: 1rem;
				list-style: none;
				margin: 0;
			}
		}

		.cart_item {
			border: 1px solid $color__background-hr-dark;
			font-size: 14px;
			
			@media (max-width: 768px) {

				td:first-of-type {
					padding-top: 30px;
				}

				td:last-of-type {
					padding-bottom: 30px; 
				}
			}
		}
		
		tfoot {

			tr {
				border-bottom: 1px solid $color__background-hr-dark; 
			}
			
			th,
			td {
				padding: 20px;
			}
			
			td {
				text-align: left;
			}			
		}
	}

	#payment {

		.payment_methods {
			list-style: none;
			margin: 0;
			
			li {
				border-bottom: 1px solid $color__background-hr-dark;
				padding: 20px;
				position: relative;
				text-align: left;
				
				label {
					
					a {
						font-size: 12px; 
						font-weight: normal;
						margin-left: 5px; 
					} 
				}

				input {
					margin-right: 5px;
				}
				
				img:only-of-type {
					max-height: 50px;
				    position: absolute;
				    right: 20px;
				    top: 8px; 
				}

				.payment_box {
					font-size: 14px; 
					padding: 10px 0 0;
					
					&.payment_method_paypal {
						padding-top: 20px; 
					}

					p {
						margin-bottom: 0;
					}
				}

				&.payment_method_stripe {

					.form-row-first,
					.form-row-last {
						margin-bottom: 0;
					}

					.stripe-icon {
						float: right;
						margin-left: 5px;
					}

					#wc-stripe-cc-form {
						margin-top: 13px;
					}

					.clear {
						display: none;
					}
				}
			}
		}

		.form-row {

			select {
				width: auto;
			}
		}

		.woocommerce-terms-and-conditions-wrapper {
			border-bottom: 1px solid $color__background-hr-dark;
			padding: 20px;
			
			p {
				margin-bottom: 14px;
				
				&.validate-required {
					margin-bottom: 0;
				}
			}
		}		

		#place_order {
			float: right;
			font-size: 16px;
			margin-top: 30px;
		}
	}
}
