.woocommerce {

	.clear {
		clear: both;
	}	

	.content-area {
		width: 100%;	
	}

	.col2-set {
		width: 100%;

		.col-1 {
			float: left;
			width: 48%;
			
			@media (max-width: 768px) {
				width: 100%;
			}			
		}

		.col-2 {
			float: right;
			width: 48%;
			
			@media (max-width: 768px) {
				width: 100%;
			}
		}
	}	

	// Content area with sidebar.
	&.woocommerce-sidebar {

		.content-area {
			float: right;
			width: 70%;	 	
		
			@media (max-width: 768px) {
				width: 100%; 	
			}
		}

		.widget-area {
			float: left;
			padding-right: 4%; 
			padding-left: 0;
		}
	}

	// Content area with right aligned sidebar.
	&.woocommerce-sidebar-right {

		.content-area {
			float: left;
		}

		.widget-area {
			float: right;
			padding-right: 0; 
			padding-left: 4%;
		}
	}			
}
