.woocommerce-order-received {

	h2,
	h3 {
		margin-bottom: 10px;
	}

	p {
		margin: 0 0 25px;
	}

	table {
		border: 1px solid $color__background-hr-dark;
		margin: 0;
		text-align: left;
		
		thead th {
			background: $color__background-hr;
		}

		tr {
			border-bottom: 1px solid $color__background-hr-dark;  
		}
		
		th,
		td {
			border: none;
			
			a {
				color: $color__text-medium;
				
				&:hover {
					color: $color__accent;
				}
			}				
		}
	}

	section {
		margin-bottom: 50px; 
	}

	.woocommerce-thankyou-order-details {
		background: $color__background-hr;
		list-style: none;
		margin: 0 0 25px;
		padding: 13px 26px;
		
		li {
			border-bottom: 1px solid $color__background-hr-dark;
			font-size: 12px; 
			padding: 13px 0;
			text-transform: uppercase;
			
			strong {
				display: block;
				font-size: 15px;
				padding-top: 3px;
				text-transform: none; 
			}

			&:last-of-type {
				border: 0; 
			}
		}
	}
	
}
