.woocommerce {

	.product {
		position: relative;

		.images {
			float: left;
			margin: 0 0 50px;
			width: 48%;

			@media (max-width: 780px) {
				width: 100%;
			}

			&.woocommerce-product-gallery {
				position: relative;
			}

			.woocommerce-product-gallery__wrapper {
				margin: 0;
				transition: all cubic-bezier(0.795, -0.035, 0.000, 1.000) .5s;

				img {
					display: block;
					width: 100%;
				}
			}

			.woocommerce-product-gallery__wrapper .zoomImg {
				background-color: #fff;
			}

			.flex-control-thumbs {
				list-style: none;
				margin: 0;

				li {
					cursor: pointer;
					float: left;
					margin: 2.5% 2.5% 0 0;
					width: 23.125%;

					&:nth-of-type(4n+4) {
						margin-right: 0;
					}

					img {
						display: block;
						box-shadow: #000 0 0 0;
						opacity: .5;

						&.flex-active,
						&:hover {
							opacity: 1;
						}
					}
				}
			}

			.woocommerce-product-gallery__trigger {
				background: #fff;
				border-radius: 100%;
				box-sizing: content-box;
				font-size: 2em;
				height: 36px;
				position: absolute;
				right: .5em;
				text-indent: -9999px;
				top: .5em;
				width: 36px;
				z-index: 9;

				&:before {
					border: 2px solid #000;
					border-radius: 100%;
					box-sizing: content-box;
					content: "";
					display: block;
					height: 10px;
					left: 9px;
					position: absolute;
					top: 9px;
					width: 10px;
				}

				&:after {
					background: #000;
					content: "";
					border-radius: 6px;
					box-sizing: content-box;
					display: block;
					height: 8px;
					left: 22px;
					position: absolute;
					top: 19px;
					@include transform( rotate(-45deg) );
					width: 2px;
				}
			}
		}

		.summary,
		.product-info-wrapper {
			float: right;
			padding-top: 0;
			width: 48%;

			@media (max-width: 786px) {
				float: none;
				width: 100%;
			}

			.entry-title {
				font-size: 26px;
			}

			.star-rating {
				float: left;
				font-size: 14px;
				margin: 6px 5px 0 0;
			}

			.woocommerce-review-link {
				color: $color__text-light;
				font-size: 13px;
				text-transform: capitalize;

				&:hover {
					color: $color__accent;
				}
			}

			.price {
				font-size: 18px;
				margin-bottom: 25px;
			}

			.woocommerce-product-details__short-description {
				margin-bottom: 25px;

				p {
					margin-bottom: 26px;

					&:only-of-type,
					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}

			.variations {
				border: none;
				font-size: 14px;
				margin-bottom: 30px;

				th,
				td {
					padding: 0;
				}

				tr {
					border: none;

					td {
						padding-bottom: 15px;
					}

					&:only-of-type td {
						padding-bottom: 0;
					}
				}

				label {
					font-size: 14px;
					text-transform: capitalize;
				}

				select {
					font-size: 14px;
				}

				.reset_variations {
					color: $color__text-medium;
					font-size: 13px;
					margin-left: 10px;

					&:hover {
						color: $color__accent;
					}
				}
			}

			.woocommerce-variation .woocommerce-variation-price .price {
				display: block;
				margin-top: -25px;
				width: 100%;
			}

			.woocommerce-grouped-product-list {
				border: none;
				margin-bottom: 25px;

				@media (min-width: 481px) {
					width: 75%;
				}

				tr {
					border: none;
				}

				th,
				td {
					padding: 0;
				}

				td {

					input {
						margin-right: 10px;
					}

					label {
						font-size: 14px;
					}

					&:first-child {
						padding-bottom: 5px;
						width: 60px;
					}

					a {
						color: $color__text-medium;

						&:hover {
							color: $color__accent;
						}
					}
				}
			}

			.stock {
				color: $color__accent;
				font-size: 13px;
				margin-bottom: 25px;
			}

			.cart {
				margin-bottom: 35px;
			}

			.quantity {
				display: inline-block;

				input {
					margin-right: 5px;
					max-width: 60px;
				}
			}

			.single_add_to_cart_button {
				display: inline-block;
			}

			.product_meta {
				border-top: 1px solid $color__background-hr; 
				color: $color__text-dark;
				font-size: 13px;
				padding-top: 25px;

				@media (max-width: 786px) {
					margin-bottom: 50px;
				}

				> span {
					display: block;
					font-weight: bold;
					font-weight: 600;
				}

				span span {
					font-weight: normal;
				}

				a {
					color: $color__text-medium;
					font-weight: normal;

					&:hover {
						color: $color__accent;
					}
				}
			}
		}

		.woocommerce-tabs {
			@include clearfix-after;
			margin-bottom: 50px;

			h2 {
				@extend .underline;
				font-size: 14px;
			}

			.wc-tabs {
				border-bottom: 1px solid $color__background-hr;
				list-style: none;
				margin: 0;
				overflow: hidden;
				position: relative;

				li {
					display: inline-block;
					font-family: $font__headings;
					margin: 0 30px 0 0;
					padding-bottom: 5px;
					text-transform: uppercase;

					@media (max-width: 768px) {
						display: block;
						font-size: 0.9333rem;
						margin-bottom: 10px;
					}

					a {
						color: $color__text-dark;
						font-weight: 600;
						display: inline-block;
						outline: 0;
					}

					&.active {
						border-bottom: 2px solid $color__accent;

						@media (max-width: 768px) {
							border: none;

							a {
								color: $color__accent;
							}
						}
					}
				}
			}

			.wc-tab {
				padding-top: 25px;
			}
		}

		.shop_attributes {
			border: none;
			width: initial;

			tr {
				border: none;

				th.woocommerce-product-attributes-item__label {
					color: $color__text-dark;
					text-align: left;
					text-transform: capitalize;
					padding-left: 0;
				}

				th,
				td {
					padding: 8px;
				}

				&:last-of-type {

					th,
					td {
						padding-bottom: 0;
					}
				}
			}
		}

		#tab-description p {
			margin-bottom: 26px;

			&:only-of-type,
			&:last-of-type {
				margin-bottom: 0;
			}
		}

		.woocommerce-Reviews {

			.woocommerce-noreviews {
				font-size: 14px;
				margin-bottom: 16px;
			}

			ol {
				list-style: none;
				margin: 0;
			}

			.comment_container {
				border-bottom: 1px solid $color__background-hr;
				padding: 25px 0;
			}

			.comment_container img {
				border-radius: 50%;
				display: block;
				float: left;
			}

			.comment-text {
				margin-left: 80px;
			}

			.star-rating {
				margin-bottom: 5px;
			}

			.meta {
				color: $color__text-dark;
				font-size: 14px;
				font-weight: 600;
				line-height: normal;

				strong {
					font-weight: 600;
				}

				a {
					color: $color__text-dark;
					text-decoration: none;

					&:hover {
						color: $color__text-medium;
					}
				}
			}

			.comment-date {
				color: $color__text-light;
				font-size: 13px;
				line-height: normal;
				margin-bottom: 15px;
			}

			.description {
				font-size: 14px;
			}

			.comment-reply-title {
				border: none;
				margin-bottom: 15px;
				padding-bottom: 0;
				text-transform: none;
			}

			.comment-respond {
				margin-top: 25px;
			}

			.stars {

				a {
					display: inline-block;
					height: 1em;
					position: relative;
					text-decoration: none;
					text-indent: -999em;
					width: 1em;

					&:hover {
						color: $color__accent;
					}

					&:before {
						content: "\e021";
						display: block;
						font-family: "WooCommerce";
						height: 1em;
						left: 0;
						line-height: 1;
						position: absolute;
						text-indent: 0;
						top: 0;
						width: 1em;
					}

					&:hover {

						~ a:before {
							content: "\e021";
						}
					}
				}

				&:hover {

					a {
						&:before {
							content: "\e020";
						}
					}
				}

				&.selected {

					a.active {

						&:before {
							content: "\e020";
						}

					~ a:before {
							content: "\e021";
						}
					}

					a:not(.active) {

						&:before {
							content: "\e020";
						}
					}
				}
			}
		}

		// Upsells.
		.upsells {

			> h2 {
				@extend .underline;
				font-size: 16px;
			}

			.product {
				margin-bottom: 50px;
			}
		}

		// Related products.
		.related {

			> h2 {
				@extend .underline;
				font-size: 16px;
			}

			.product {
				margin-bottom: 25px;
			}

			@media (min-width: 769px) {

				.product {
					margin-bottom: 0;
				}
			}
		}

		// Upsells and related products.
		.woocommerce-tabs ~ .products .product {

			@media (min-width: 769px) {
				clear: none;
				margin-right: 3.5%;
				width: 22.37%;

				&:nth-of-type(4n+4) {
					margin-right: 0;
				}
			}

			@media (max-width: 768px) {

				&:nth-of-type(2n+2) {
					margin-right: 0;
				}

				width: 48.25%;
			}

			@media (max-width: 480px) {
				margin-right: 0;
				width: 100%;
			}
		}
	}
}
